/* VARIABLES */
:root {
  --primary-color: #2b2b2b;
  --secondary-color: #00e5ff;
  --background-color: rgba(0, 0, 0, 0.867);
  --text-color: #ffffff;
  --blue-text-color: #00e5ff;
  --font-family: Segoe 'Arial', sans-serif;

body {
    background: black;
    font-family: var(--font-family)
    padding: 0;
    margin: 0;
}

main {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 60px auto;
    background: var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    padding: 32px 24px 24px 24px;
    text-align: center;
}

header {
    background: black
    padding: 16px;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    color : var(--blue-text-color);
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.description {
    color: var(--text-color);
    margin-bottom: 32px;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.description p {
    flex: 1 1 200px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(182, 47, 47, 0.1);
    padding: 18px 16px;
    color: var(--text-color);
    min-width: 180px;
    max-width: 100%;
    border: 1px solid #353b48;
    transition: transform 0.5s;
    text-align: justify;
    text-justify: inter-word;
}

.description p:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 6px 18px rgb(255, 255, 255);
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
    font-weight: 500;
}

input[type="number"] {
    width: 80px;
    padding: 8px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 1rem;
    text-align: center;
}

button {
    background: var(--secondary-color);
    color: var(--text-color)
    border: none;
    border-radius: 20px;
    padding: 10px 24px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    margin-bottom: 20px;
}

button:hover {
    background: black;
}

#result {
    margin-top: 18px;
    font-size: 1.1rem;
    word-break: break-all;
    background: #f1f2f6;
    padding: 12px;
    border-radius: 6px;
    min-height: 24px;
    color: #2d3436;
    letter-spacing: 1px;
}

